


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}

h2{
    margin-bottom: 30px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
hr{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}




.title{
    padding-bottom: 5px;
}

#board{
    width: 379.9px;
    margin: 0 auto;
    height: 379.5px;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    display: flex;
    flex-wrap: wrap;
}


.tile{
    width: 92px;
    height: 92px;
    border: 6px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 390px) {
    hr{
        width: 300px;
    }
    #board{
        width: 299.2px;
        height: 400px;
        margin: 0 auto;
    }
    .tile{
        width: 72px;
        height: 98px;
    }
}











.x2{
    background-color: #eee4da;
    color: #727371;
}

.x4{
    background-color: #ece0ca;
    color: #727371;
}

.x8{
    background-color:#f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #eec230;
    color: white;
}

.x4096{
    background-color: #fe3d3d;
    color: white;
}

.x8192{
    background-color: #ff2020;
    color: white;
}